<div class="row">
  <div class="col-md-4">
    <fieldset class="borda">
      <legend>Movimentos</legend>
      <br>
      <form class="form-horizontal">
        <fieldset class="elementos">
          <label for="credito">Crédito</label>
          <input type="radio" name="tipo" id="credito">

          <label for="debito">Débito</label>
          <input type="radio" name="tipo" id="debito">
        </fieldset>

        <label class="elementos" for="codigo">Código:</label>
        <input class="form-control elementos" type="number" id="codigo">

        <label class="elementos" for="vencimento">Vencimento:</label>
        <input class="form-control elementos" type="date" id="vencimento">

        <label class="elementos" for="valor">Valor:</label>
        <input class="form-control elementos" type="text" id="valor">

        <label class="elementos" for="nDocumento">N° Documento:</label>
        <input class="form-control elementos" type="number" id="nDocumento">

        <br>
        <select class="form-control elementos">
          <option value="">Forma de Pagamento</option>
          <option value="Parcelado">Parcelado</option>
          <option value="À Vista">À Vista</option>
        </select>
        <br>

        <input type="submit" class="btn btn-success elementos" value="Salvar">
        <input type="reset" class="btn btn-danger elementos" value="Novo">
      </form>
    </fieldset>
  </div>
  <div class="col-md-8">
    <table class="table table-hover table-responsive distancia-tabela">
      <thead>
        <th>Código</th>
        <th>N° Doc</th>
        <th>NV</th>
        <th>Vencimento</th>
        <th>Valor</th>
        <th>Histórico</th>
      </thead>
      <tbody>
        <tr>
          <td>Teste</td>
          <td>Teste</td>
          <td>Teste</td>
          <td>Teste</td>
          <td>Teste</td>
          <td>Teste</td>
        </tr>
        <tr>
          <td>Teste</td>
          <td>Teste</td>
          <td>Teste</td>
          <td>Teste</td>
          <td>Teste</td>
          <td>Teste</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
